extends ./layout/default
block title 
    title koa server html

block content
     .container
        .row
            .col-md-8
                h1 hi #{you}
                p This is #{me}
            .col-md-4
                p 测试动态 pug 模板引擎  