{
    "presets": [
        [
            "env",
            {
                "targets":{
                    "node":"current"
                }
            }
        ]
    ],
    "plugins": [
        [
            "transfrom-runtime",{
                "polyfill":false,
                "regenerator":true
            }
        ]
    ]
}